<% provide(:title, '勤怠入力') %>
<h1>勤怠入力</h1>

<h1>
  <%= content_tag :span, @timecard.biz_date.to_s %>
  <%= content_tag :span, '     ' %>
  <%= content_tag :span, '', id: "cur-time" %>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@timecard) do |f| %>
      <%= f.hidden_field :biz_date, value: @timecard.biz_date %>

      <%= f.label :attn_ctgy, "勤怠区分"  %>
      <%= f.collection_select :attn_ctgr, 
                     Category.where("ctgr_id = ? and lang_id = ?", 0, 0),
                     :val, :name, {}, {class: "form-control selectpicker"} %>

      <div class="form-group">
        <%= f.label :work_start_time, "勤務開始時刻" %>
        <div class = "input-group clockpicker" data-autoclose="true">
          <%= f.text_field :work_start_time, value: @timecard.work_start_time.to_s(:h_colon_m),
              class: 'form-control', style: "cursor: default; background-color: white;", readonly: true %>
          <span class = "input-group-btn">
            <button class = "btn btn-default" type = "button"
	     onclick = "document.getElementById('timecard_work_start_time').value
	                               = document.getElementById('cur-time').innerHTML ">
	      　　　打刻　　　
            </button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :work_end_time, "勤務終了時刻" %>
        <div class = "input-group clockpicker">
          <%= f.text_field :work_end_time, value: @timecard.work_end_time.to_s(:h_colon_m),
	      class: 'form-control', style: "cursor: default; background-color: white;", readonly: true %>
          <span class = "input-group-btn">
            <button class = "btn btn-default" type = "button"
	     onclick = "document.getElementById('timecard_work_end_time').value
	                               = document.getElementById('cur-time').innerHTML ">
	      　　　打刻　　　
            </button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :rest_start_time, "休憩開始時刻" %>
        <div class = "input-group clockpicker">
          <%= f.text_field :rest_start_time, value: @timecard.rest_start_time.to_s(:h_colon_m),
              class: 'form-control', style: "cursor: default; background-color: white;", readonly: true %>
          <span class = "input-group-btn">
            <button class = "btn btn-default" type = "button"
	     onclick = "document.getElementById('timecard_rest_start_time').value
	                               = document.getElementById('cur-time').innerHTML ">
	      　　　打刻　　　
            </button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :rest_end_time, "休憩終了時刻" %>
        <div class = "input-group clockpicker">
          <%= f.text_field :rest_end_time, value: @timecard.rest_end_time.to_s(:h_colon_m),
              class: 'form-control', style: "cursor: default; background-color: white;", readonly: true %>
          <span class = "input-group-btn">
            <button class = "btn btn-default" type = "button"
	     onclick = "document.getElementById('timecard_rest_end_time').value
	                               = document.getElementById('cur-time').innerHTML ">
	      　　　打刻　　　
            </button>
          </span>
        </div>
      </div>

      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.clockpicker').clockpicker();

  $(function(){
    setInterval(function(){
      now = new Date();
      $("#cur-time").text(('0' + now.getHours()).slice(-2) + ':' + ('0' + now.getMinutes()).slice(-2));
    }, 1000);
  });
</script>
