<% provide(:title, '勤怠一覧') %>

<div class="row">
<div class="col-md-2 side-menu-member">
  <div class="panel panel-default panel-member" style="margin-top: 30px;">
    <div class="panel-heading">
      勤怠を見る
    </div>
    <ul class="nav nav-pills nav-stacked nav-member">
      <li <%= 'class="active"'.html_safe if @user.id == current_user.id  %>>
          <%= link_to timecards_path(user: current_user.id, year: @b_date.year, month: @b_date.month) do %>
            <span class="glyphicon glyphicon-user"></span>
            <%= current_user.name %>
          <% end %>
      </li>

      <% if current_user.is_secretary? %>
        <hr style="margin: 2px 10px;">
        <% User.where(admin: false).where.not(id: current_user.id).each do |u| %>
          <li <%= 'class="active"'.html_safe if u.id == @user.id %>>
            <%= link_to timecards_path(user: u.id, year: @b_date.year, month: @b_date.month) do %>
              <span class="glyphicon glyphicon-user"></span>
              <%= User.find(u).name %>
            <% end %>
          </li>
        <% end %>
      <% end %>

      <hr style="margin: 2px 10px;">
      <% @my_applicants.each do |ap| %>
        <li <%= 'class="active"'.html_safe if ap.user_id == @user.id  %>>
          <%= link_to timecards_path(user: ap.user_id, year: @b_date.year, month: @b_date.month) do %>
            <span class="glyphicon glyphicon-leaf"></span>
            <%= User.find(ap.user_id).name %>
            <% applied_count = Timecard.where(user_id: ap.user_id).where(wf_status: 5).count %>
            <% if applied_count > 0 %>
              <span class="badge pull-right"><%= applied_count %></span>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <hr style="margin: 2px 10px;">
      <% @my_group_members.each do |gm| %>
        <li <%= 'class="active"'.html_safe if gm.user_id == @user.id  %>>
          <%= link_to timecards_path(user: gm.user_id, year: @b_date.year, month: @b_date.month) do %>
            <span class="glyphicon glyphicon-tree-deciduous"></span>
            <%= User.find(gm.user_id).name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-md-10">

<h1><%= @b_date.year %>年<%= @b_date.month %>月</h1>

<div class="center">
  <span class = "btn-group">
    <%= link_to "<<", timecards_path(user: @user.id, year: @b_date.year-1, month: 12),
                      class: "btn btn-default" %>
    <% (1..12).each do |i| %>
      <% if i == @b_date.month %>
        <%= link_to @b_date.year.to_s + "/" + i.to_s, 
            timecards_path(user: @user.id, year: @b_date.year, month: i), class: "btn btn-default active" %>
      <% else %>
        <%= link_to @b_date.year.to_s + "/" + i.to_s, 
            timecards_path(user: @user.id, year: @b_date.year, month: i), class: "btn btn-default" %>
      <% end %>
    <% end %>
    <%= link_to ">>", timecards_path(user: @user.id, year: @b_date.year+1, month: 1),
                      class: "btn btn-default" %>
  </span>
</div>

<br>

<table class="table table-bordered table-condensed">
  <thead>
    <tr align="center">
      <th class="centerized">営業日数</th>
      <th class="centerized">出勤日数</th>
      <th class="centerized">有給休暇</th>
      <th class="centerized">休暇日数</th>
      <th class="centerized">実労働時間</th>
    </tr>
  </thead>
  <tbody>
    <tr align="center">
      <th class="centerized"><%= @biz_days.to_s + " 日" %></th>
      <th class="centerized"><%= @attn_days.to_s + " 日" %></th>
      <th class="centerized"><%= @paid_days.to_s + " 日 / " + @paid_hours.to_s + " 時間"%></th>
      <th class="centerized"><%= @absc_days.to_s + " 日" %></th>
      <% work_hours = @work_mins.divmod(60) %>
      <% if work_hours[0] > 240 %>
        <% color_red = 'style="color: red;"' %>
      <% else %>
        <% color_red = '' %>
      <% end %>
      <th class="centerized" <%= color_red.html_safe %>>

        <div class="dropdown">
          <button class="btn btn-default btn-xs" type="button" id="work-breakdown-btn" data-toggle="dropdown">
            <strong><%= work_hours[0].to_s + " 時間 " + "%02d" % work_hours[1] + " 分" %></strong>
          </button>
          <ul class="dropdown-menu work-breakdown" aria-labelledby="work-breakdown-btn">
            <table style="width:100%;">
              <tr align="center">
                <% work_hours_normal = @work_mins_normal.divmod(60) %>
                <th>通常</th>
                <td><%= work_hours_normal[0].to_s + " 時間 " + "%02d" % work_hours_normal[1] + " 分" %></td>
              </tr>
              <tr align="center">
                <% work_hours_over = @work_mins_over.divmod(60) %>
                <th>時間外</th>
                <td><%= work_hours_over[0].to_s + " 時間 " + "%02d" % work_hours_over[1] + " 分" %></td>
              </tr>
              <tr align="center">
                <% work_hours_night = @work_mins_night.divmod(60) %>
                <th>深夜</th>
                <td><%= work_hours_night[0].to_s + " 時間 " + "%02d" % work_hours_night[1] + " 分" %></td>
              </tr>
              <tr align="center">
                <% work_hours_holiday = @work_mins_holiday.divmod(60) %>
                <th>休日</th>
                <td><%= work_hours_holiday[0].to_s + " 時間 " + "%02d" % work_hours_holiday[1] + " 分" %></td>
              </tr>
            </table>
          </ul>
        </div>
      </th>
    </tr>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr align="center">
      <th class="centerized" colspan="2" rowspan="2">日付</th>
      <th class="centerized" rowspan="2">勤怠</th>
      <th class="centerized" colspan="2">業務</th>
      <th class="centerized" colspan="2">休憩</th>
      <th class="centerized" rowspan="2">有給休暇<br>（時間）</th>
      <th class="centerized col-md-2" rowspan="">
        <% if @user.id == current_user.id %>
          <%= button_to 'まとめて提出', apply_all_timecard_path(@user.id),
                        data: {confirm: 'まとめて提出しますか？'},
                        params: {apply_all_target_dates_form: '', year: @b_date.year, month: @b_date.month},
                        id: 'apply-all', class: 'btn btn-default btn-xs', style: 'width:90px;height:18px;' %>
        <% elsif approver_of?(@user.id)%>
          <%= button_to 'まとめて承認', approve_all_timecard_path(@user.id),
                        data: {confirm: 'まとめて承認しますか？'},
                        params: {approve_all_target_ids_form: '', year: @b_date.year, month: @b_date.month},
                        id: 'approve-all', class: 'btn btn-default btn-xs', style: 'width:90px;height:18px;' %>
        <% end %>
      </th>
    </tr>
    <tr align="center">
      <th class="centerized">開始</th>
      <th class="centerized">終了</th>
      <th class="centerized">開始</th>
      <th class="centerized">終了</th>
      <th class="centerized">ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% biz_days = 0 %> <!-- 営業日数 -->
    <% work_days = 0 %><!-- 勤務日数 -->
    <% off_days = 0 %><!-- 休暇日数 -->
    <% work_mins = 0 %><!-- 勤務時間 -->
    <% apply_all_target_dates = [] %><!-- 一括申請の対象日付 -->
    <% approve_all_target_ids = [] %><!-- 一括承認の対象id -->
    <% @monthly_timecards.each do |tc| %>
      <% if tc.is_new %>
        <% data_link = new_timecard_path(biz_date: tc.biz_date, user: @user.id) %>
      <% else %>
        <% data_link = edit_timecard_path(tc) %>
      <% end %>

      <% bgcolor = '' %>
      <% wday_color_class = '' %>
      <% attn_ctgr_color = '' %>
      <% if tc.holiday_ctgr == 1 || tc.holiday_ctgr == 3 %>
        <% bgcolor = 'bgcolor="#a9a9a9"' %>
        <% wday_color_class = 'text-danger' %>
      <% elsif tc.holiday_ctgr == 2 %>
        <% bgcolor = 'bgcolor="#a9a9a9"' %>
        <% wday_color_class = 'text-primary'%>
      <% elsif tc.holiday_ctgr == 0 %>
        <% if tc.biz_date == Date.today %>
          <% bgcolor = 'bgcolor="#FFFFDD"' %>
        <% end %>
        <% if tc.attn_ctgr == 1 || tc.attn_ctgr == 2 %>
          <% attn_ctgr_color = 'style="color:red;"' %>
        <% end %>
      <% end %>

      <% wf_status_color = '' %>
      <% if (tc.wf_status == 0 || tc.wf_status == 2) && tc.biz_date < Date.today %>
        <% wf_status_color = 'style="color:red;"' %>
        <% apply_all_target_dates << tc.biz_date if tc.holiday_ctgr == 0 || tc.attn_ctgr == 0 %>
      <% elsif tc.wf_status == 5 %>
        <% wf_status_color = 'style="color:blue;"' %>
        <% approve_all_target_ids << tc.id %>
      <% elsif tc.wf_status == 9 %>
        <% wf_status_color = 'style="color:silver"' %>
      <% end %>

        <tr data-link="<%= data_link %>" style="cursor: pointer;" <%= bgcolor.html_safe %>>
          <td class="centerized"><%= tc.biz_date.to_s(:y_slash_m_slash_d) %></td>
          <td class="centerized <%= wday_color_class.html_safe %>">
            <% if tc.holiday_ctgr == 1 %>
              <%= HolidayJapan.name(tc.biz_date) %>
            <% else %>
              <%= l tc.biz_date, format: :day_name %>
            <% end %>
          </td>
          <td class="centerized" <%= attn_ctgr_color.html_safe %> ><%= tc.attn_ctgr_disp %></td>
          <% if tc.attn_ctgr == 0 %>
            <td class="centerized"><%= tc.work_start_time.to_s(:h_colon_m) %></td>
            <td class="centerized"><%= tc.work_end_time.to_s(:h_colon_m) %></td>
            <td class="centerized"><%= tc.rest_start_time.to_s(:h_colon_m) %></td>
            <td class="centerized"><%= tc.rest_end_time.to_s(:h_colon_m) %></td>
            <td class="centerized"><%= tc.paid_holiday_hours %></td>
          <% else %>
            <td class="centerized"></td>
            <td class="centerized"></td>
            <td class="centerized"></td>
            <td class="centerized"></td>
            <td class="centerized"></td>
          <% end %>
          <% if tc.attn_ctgr == 9 %>
            <td class="centerized"></td>
          <% else %>
            <td class="centerized" <%= wf_status_color.html_safe %>><%= tc.wf_status_ctgr_disp %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>

<%= hidden_field_tag 'apply_all_target_dates', apply_all_target_dates %>
<%= hidden_field_tag 'approve_all_target_ids', approve_all_target_ids %>

</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })

  // 固定する場所が存在することの確認
  if( $('.side-menu-member .panel-member').length > 0 ){
    var baseSelector = '.side-menu-member'
    var fixingSelector = baseSelector + ' .panel-member'

    $(window).on('load scroll resize', function(){
      //var baseTop = $(baseSelector).offset().top

      //固定開始位置より後にスクロールされた場合
      if( $(window).scrollTop() > 30 ){
        $(fixingSelector).addClass('fixed')
        $(baseSelector).height($(fixingSelector).outerHeight())
        $(fixingSelector).width($(baseSelector).width()-2)

       // if( $(window).scrollTop() > 500 ){
       //   $(fixingSelector).removeClass('fixed')
       //   $(fixingSelector).css('margin-top','500px')
       //   $(fixingSelector).width('')
       // }

      //固定開始位置以前にスクロールされた場合
      } else {
        $(fixingSelector).removeClass('fixed')
        $(baseSelector).height('')
        $(fixingSelector).width('')
      }
    })
  }

  $('#apply-all').click(function() {
    $('[name="apply_all_target_dates_form"]').val($('#apply_all_target_dates').val())
  })
  $('#approve-all').click(function() {
    $('[name="approve_all_target_ids_form"]').val($('#approve_all_target_ids').val())
  })
</script>
