<% provide(:title, '勤怠一覧') %>

<% if @user.id != current_user.id %>
  <div style="float: left; margin-top: 20px; margin-left: 50px">
    <h3><%= @user.name %></h3>
  </div>
<% end %>

<h1><%= @b_date.year %>年<%= @b_date.month %>月</h1>

<div class="center">
  <span class = "btn-group">
    <%= link_to "<<", timecards_path(user: @user.id, year: @b_date.year-1, month: @b_date.month),
                      class: "btn btn-default" %>
    <% (1..12).each do |i| %>
      <% if i == @b_date.month %>
        <%= link_to @b_date.year.to_s + "/" + i.to_s, 
            timecards_path(user: @user.id, year: @b_date.year, month: i), class: "btn btn-default active" %>
      <% else %>
        <%= link_to @b_date.year.to_s + "/" + i.to_s, 
            timecards_path(user: @user.id, year: @b_date.year, month: i), class: "btn btn-default" %>
      <% end %>
    <% end %>
    <%= link_to ">>", timecards_path(user: @user.id, year: @b_date.year+1, month: @b_date.month),
                      class: "btn btn-default" %>
  </span>
</div>

<br>

<table class="table table-bordered table-condensed">
  <thead>
    <tr align="center">
      <th class="centerized">営業日数</th>
      <th class="centerized">出勤日数</th>
      <th class="centerized">有給休暇</th>
      <th class="centerized">休暇日数</th>
      <th class="centerized">実労働時間</th>
    </tr>
  </thead>
  <tbody>
    <tr align="center">
      <th class="centerized"><%= @biz_days.to_s + " 日" %></th>
      <th class="centerized"><%= @attn_days.to_s + " 日" %></th>
      <th class="centerized"><%= @paid_days.to_s + " 日 / " + @paid_hours.to_s + " 時間"%></th>
      <th class="centerized"><%= @absc_days.to_s + " 日" %></th>
      <% work_hours = @work_mins.divmod(60) %>
      <% if work_hours[0] > 240 %>
        <% color_red = 'style="color: red;"' %>
      <% else %>
        <% color_red = '' %>
      <% end %>
      <th class="centerized" <%= color_red.html_safe %>>
        <%= work_hours[0].to_s + " 時間 " + "%02d" % work_hours[1] + " 分" %>
      </th>
    </tr>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr align="center">
      <th class="centerized" colspan="2" rowspan="2">日付</th>
      <th class="centerized" rowspan="2">勤怠</th>
      <th class="centerized" colspan="2">業務</th>
      <th class="centerized" colspan="2">休憩</th>
      <th class="centerized" rowspan="2">有給休暇<br>（時間）</th>
      <th class="centerized" rowspan="2">ステータス</th>
    </tr>
    <tr align="center">
      <th class="centerized">開始</th>
      <th class="centerized">終了</th>
      <th class="centerized">開始</th>
      <th class="centerized">終了</th>
    </tr>
  </thead>

  <tbody>
    <% biz_days = 0 %> <!-- 営業日数 -->
    <% work_days = 0 %><!-- 勤務日数 -->
    <% off_days = 0 %><!-- 休暇日数 -->
    <% work_mins = 0 %><!-- 勤務時間 -->
    <% @monthly_timecards.each do |tc| %>
      <% if tc.is_new %>
	<% data_link = new_timecard_path(biz_date: tc.biz_date, user: @user.id) %>
      <% else %>
	<% data_link = edit_timecard_path(tc) %>
      <% end %>

      <% bgcolor = '' %>
      <% wday_color_class = '' %>
      <% attn_ctgr_color = '' %>
      <% if tc.holiday_ctgr == 1 || tc.holiday_ctgr == 3 %>
	<% bgcolor = 'bgcolor="#a9a9a9"' %>
	<% wday_color_class = 'text-danger' %>
      <% elsif tc.holiday_ctgr == 2 %>
	<% bgcolor = 'bgcolor="#a9a9a9"' %>
	<% wday_color_class = 'text-primary'%>
      <% elsif tc.holiday_ctgr == 0 %>
        <% if tc.biz_date == Date.today %>
          <% bgcolor = 'bgcolor="#FFFFDD"' %>
	<% end %>
        <% if tc.attn_ctgr == 1 || tc.attn_ctgr == 2 %>
          <% attn_ctgr_color = 'style="color:red;"' %>
        <% end %>
      <% end %>

      <% wf_status_color = '' %>
      <% if (tc.wf_status == 0 || tc.wf_status == 2) && tc.biz_date < Date.today %>
        <% wf_status_color = 'style="color:red;"' %>
      <% elsif tc.wf_status == 5 %>
        <% wf_status_color = 'style="color:blue;"' %>
      <% elsif tc.wf_status == 9 %>
        <% wf_status_color = 'style="color:silver"' %>
      <% end %>

        <tr data-link="<%= data_link %>" style="cursor: pointer;" <%= bgcolor.html_safe %>>
          <td class="centerized"><%= tc.biz_date.to_s(:y_slash_m_slash_d) %></td>
          <td class="<%= wday_color_class.html_safe %>"><%= tc.biz_date.strftime("%a") %></td>
          <td class="centerized" <%= attn_ctgr_color.html_safe %> ><%= tc.attn_ctgr_disp %></td>
	  <% if tc.attn_ctgr == 0 %>
            <td class="centerized"><%= tc.work_start_time.to_s(:h_colon_m) %></td>
            <td class="centerized"><%= tc.work_end_time.to_s(:h_colon_m) %></td>
            <td class="centerized"><%= tc.rest_start_time.to_s(:h_colon_m) %></td>
            <td class="centerized"><%= tc.rest_end_time.to_s(:h_colon_m) %></td>
            <td class="centerized"><%= tc.paid_holiday_hours %></td>
	  <% else %>
            <td class="centerized"></td>
            <td class="centerized"></td>
            <td class="centerized"></td>
            <td class="centerized"></td>
            <td class="centerized"></td>
	  <% end %>
	  <% if tc.attn_ctgr == 9 %>
            <td class="centerized"></td>
	  <% else %>
            <td class="centerized" <%= wf_status_color.html_safe %>><%= tc.wf_status_ctgr_disp %></td>
	  <% end %>
	</tr>
      <% end %>
  </tbody>
</table>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
