<% provide(:title, '勤怠詳細') %>
<h1>勤怠</h1>

<h4 class="center">
  <% if @timecard.user_id != current_user.id %>
    <%= User.find(@timecard.user_id).name %>
  <% end %>
</h4>

<h1>
  <%= content_tag :span, @timecard.biz_date.to_s %>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@timecard) do |f| %>
      <div class="form-group">
        <%= f.label :attn_ctgr, "勤怠区分"  %>
        <%= f.text_field :attn_ctgr, value: Category.find_by(ctgr_id: 0, lang_id: 0, val: @timecard.attn_ctgr).name, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= f.label :work_start_time, "勤務開始時刻" %>
        <%= f.text_field :work_start_time, value: @timecard.work_start_time.to_s(:h_colon_m), class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= f.label :work_end_time, "勤務終了時刻" %>
        <%= f.text_field :work_end_time, value: @timecard.work_end_time.to_s(:h_colon_m), class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= f.label :rest_start_time, "休憩開始時刻" %>
        <%= f.text_field :rest_start_time, value: @timecard.rest_start_time.to_s(:h_colon_m), class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= f.label :rest_end_time, "休憩終了時刻" %>
        <%= f.text_field :rest_end_time, value: @timecard.rest_end_time.to_s(:h_colon_m), class: 'form-control', disabled: true %>
      </div>

        <% if approver_of?(@timecard.user_id) %>
          <% if @timecard.wf_status == 5 %>
            <%= link_to "差戻", workflow_timecard_path(timecard: {id: @timecard.id, user: @timecard.user_id, wf: 2}),
	                        method: :post, class: "col-md-6 col-sm-6 btn btn-info" %>
            <%= link_to "承認", workflow_timecard_path(timecard: {id: @timecard.id, user: @timecard.user_id, wf: 9}),
	                        method: :post, class: "col-md-6 col-sm-6 btn btn-primary" %>
	  <% elsif @timecard.wf_status == 9 %>
            <%= link_to "差戻", workflow_timecard_path(timecard: {id: @timecard.id, user: @timecard.user_id, wf: 2}),
	                        method: :post, class: "col-md-12 btn btn-info" %>
	  <% end %>
	<% end %>
        <%= link_to "戻る", timecards_path(year: @timecard.biz_date.year,
	                                   month: @timecard.biz_date.month, user: @timecard.user_id),
					   class: "col-md-12 btn btn-info" %>
    <% end %>
  </div>
</div>
