<% provide(:title, '提出依頼') %>
<h1>提出依頼</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@report_requests) do |f| %>
      <% @errors = @report_requests.errors %>
      <%= render 'shared/error_messages' %>

      <div class="form-group">
        <%= f.label :work_start_time, "提出物名称" %>
        <%= f.text_field :work_start_time, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :work_start_time, "表示開始" %>
        <%= f.date_field :work_start_time, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :work_start_time, "提出期限" %>
        <%= f.date_field :work_start_time, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :work_start_time, "提出対象者" %>
      <div class="form-group row">
        <div class="col-md-5">
      <select name="example" size=5 class="form-control" style="height:130px;" multiple>
      </select>
	</div>
        <div class="col-md-2">
	<br>
	<button>⇨</button>
	<br><br>
	<button>⇦</button>
	</div>
        <div class="col-md-5">
      <select name="example" size=5 class="form-control" style="height:130px;" multiple>
        <option>守屋　大;</option>
        <option>徳里　悠哉;</option>
        <option>池田　学;</option>
        <option>加藤　慶大;</option>
        <option>大谷　建之;</option>
        <option>蕪山　亮太;</option>
        <option>平山　夢麿;</option>
        <option>千葉　美紀;</option>
      </select>
	</div>
      </div>
      </div>

      <div>
        <%= f.submit "保存", name: "save", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
