<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <% @errors = @user.errors %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', readonly: true %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', readonly: true %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <br>
      <%= f.label :use_def_times, class: "checkbox inline" do %>
        <%= f.check_box :use_def_times %>
        <span>時刻の初期設定を使う</span>
      <% end %>

      <div class="form-group row">
        <label class="col-md-2 form-control-static">勤務時刻</label>
        <div class="col-md-5">
	  <% def_work_start_time = @user.def_work_start_time || Date.today.to_time %>
          <%= f.time_field :def_work_start_time, class: 'form-control' %>
	</div>
        <div class="col-md-5">
	  <% def_work_end_time = @user.def_work_end_time || Date.today.to_time %>
          <%= f.time_field :def_work_end_time, class: 'form-control' %>
	</div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 form-control-static">休憩時刻</label>
        <div class="col-md-5">
	  <% def_rest_start_time = @user.def_rest_start_time || Date.today.to_time %>
          <%= f.time_field :def_rest_start_time, class: 'form-control' %>
	</div>
        <div class="col-md-5">
	  <% def_rest_end_time = @user.def_rest_end_time || Date.today.to_time %>
          <%= f.time_field :def_rest_end_time, class: 'form-control' %>
	</div>
      </div>

      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
