<% provide(:title, '社員一覧') %>
<h1>社員一覧</h1>

<%= will_paginate %>

<table class="table">
  <thead>
    <tr>
      <th class="centerized middled"></th>
      <th class="middled">Name</th>
      <th class="middled">Email</th>
      <th class="middled">Tel</th>
      <% if current_user.admin? %>
        <th class="centerized middled"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <!--<td class="centerized middled"><%= gravatar_for user, size: 50 %></td>-->
      <td class="middled"><%= image_tag 'avatar_unknown_00.png', size: '60x60' %></td>
      <td class="middled"><%= link_to user.name, user %></td>
      <td class="middled"><%= mail_to user.email, user.email %></td>
      <td class="middled"><a href="tel:0351145685">03-5114-5685</a></td>
      <% if current_user.admin? && !current_user?(user)%>
        <td class="centerized middled">
          <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>
