<% provide(:title, '有給休暇照会') %>
<h1>有給休暇</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr align="center">
      <th class="centerized" colspan="2">期間</th>
      <th class="centerized">付与分</th>
      <th class="centerized">使用済</th>
      <th class="centerized">残り</th>
    </tr>
  </thead>
  <tbody>
    <% sum_given_days = 0 %>
    <% sum_given_hours = 0 %>
    <% sum_usage_days = 0 %>
    <% sum_usage_hours = 0 %>
    <% @paid_holidays.each_with_index do |ph, idx| %>
      <% if idx == 0 %>
        <tr data-target-id="hist_<%= ph.id %>" align="center" style="cursor: pointer;" class="active">
      <% else %>
        <tr data-target-id="hist_<%= ph.id %>" align="center" style="cursor: pointer;">
      <% end %>
        <th class="centerized"><%= ph.beginning_date.to_s(:y_slash_m_slash_d) %></th>
        <th class="centerized"><%= ph.expiration_date.to_s(:y_slash_m_slash_d) %></th>
        <th class="centerized"><%= ph.days %>日 / <%= ph.hours %>時間</th>
	<% usage_days = ph.paid_holiday_usages.sum(:days) %>
	<% usage_hours = ph.paid_holiday_usages.sum(:hours) %>
        <th class="centerized"><%= usage_days %>日 / <%= usage_hours %>時間</th>
        <th class="centerized"><%= ph.days - usage_days %>日 / <%= ph.hours - usage_hours %>時間</th>
      </tr>
      <% sum_given_days  += ph.days %>
      <% sum_given_hours += ph.hours %>
      <% sum_usage_days  += usage_days %>
      <% sum_usage_hours += usage_hours %>
    <% end %>
  </tbody>
  <tbody>
    <tr class="info" align="center">
      <th class="centerized" colspan="2">合計</th>
      <th class="centerized"><%= sum_given_days %>日 / <%= sum_given_hours %>時間</th>
      <th class="centerized"><%= sum_usage_days %>日 / <%= sum_usage_hours %>時間</th>
      <th class="centerized">
        <%= sum_given_days - sum_usage_days %>日 / <%= sum_given_hours - sum_usage_hours %>時間
      </th>
    </tr>
  </tbody>
</table>

<br>
<h3 class="center">使用履歴</h3>
<% @paid_holidays.each_with_index do |ph, idx| %>
  <% if idx == 0 %>
    <table id="hist_<%= ph.id %>" class="table hist">
  <% else %>
    <table id="hist_2" class="table hist" style="display:none;">
  <% end %>
    <thead>
      <tr align="center">
        <th class="centerized" colspan="2">
	  <%= ph.beginning_date.to_s(:y_slash_m_slash_d) %>~<%= ph.expiration_date.to_s(:y_slash_m_slash_d) %>
	</th>
      </tr>
    </thead>
    <tbody>
      <% ph.paid_holiday_usages.each do |phu| %>
        <tr>
          <td class="centerized"><%= phu.usage_date.to_s(:y_slash_m_slash_d) %></td>
          <td class="centerized">
	    <%= phu.days.to_s + '日　' if phu.days > 0 %>
	    <%= phu.hours.to_s + '時間' if phu.hours > 0 %>
	  </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
</div>

<script>
  $("tr[data-target-id]").click(function() {
    $("tr[data-target-id]").removeClass('active')
    $(this).addClass('active')
    $('.hist').css('display', 'none')
    $('#'+$(this).data('target-id')).css('display', 'table')
  })
</script>
