<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @extra_holiday.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @extra_holiday.description %>
</p>

<p>
  <strong>Is hourly:</strong>
  <%= @extra_holiday.is_hourly %>
</p>

<p>
  <strong>Is comment required:</strong>
  <%= @extra_holiday.is_comment_required %>
</p>

<p>
  <strong>Is paid:</strong>
  <%= @extra_holiday.is_paid %>
</p>

<p>
  <strong>Is as attended:</strong>
  <%= @extra_holiday.is_as_attended %>
</p>

<%= link_to 'Edit', edit_extra_holiday_path(@extra_holiday) %> |
<%= link_to 'Back', extra_holidays_path %>
