<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "WORKAHOLIC", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      勤怠<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "勤怠一覧", root_path %></li>
              <li><%= link_to "有給休暇照会", paid_holidays_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      提出物<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
	        <%= link_to my_reports_path do %>
		  提出物一覧
		  <% unsubmitted_count = ReportRequest.unsubmitted_count(current_user.id) %>
		  <% if unsubmitted_count > 0%>
		    <span class="badge pull-right"><%= unsubmitted_count %></span>
		  <% end %>
		<% end %>
	      </li>
              <li><%= link_to "提出依頼管理", reports_path %></li>
            </ul>
          </li>
	  <% if current_user.admin %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        人事管理*<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "社員管理*", users_path %></li>
                <li><%= link_to "有給管理*", '#' %></li>
                <li><%= link_to "臨時休暇管理", extra_holidays_path %></li>
                <li><%= link_to "特別休暇管理", special_holidays_path %></li>
              </ul>
            </li>
	  <% else %>
            <li><%= link_to "社員一覧", users_path %></li>
	  <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <!-- <li><%= link_to "プロフィール", current_user %></li> -->
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
